h1 {
  text-align: center;
}
body {
  padding: 10px;
  font-family: sans-serif;
  background-color: gray;
}

button{
  background-color: rgb(211, 211, 211);
  border: 1cm;
  border-radius: 10%;
  padding: 20px;
  font-size: 120%;
}
#milieuDeJeu{
  text-align: center;
  margin: auto;
  display: block;
}